<center><h1>{{name}}</h1></center>
<center><h2>We want to use a web base interface only used in our company to upload offline events to facebook</h2></center>
<center>



<form action={{url_for('upload')}} method="post" enctype="multipart/form-data">
    <input type="file" name="excel_file" />
    <input type="submit" value="Send" />
</form>


</center>